/* Colors + Fonts */

:root {
    --main-text-color: #999999;
    --main-text-bold: #CCCCCC;
    --main-text-accent: #F9C80E;
}


/* Document rules */
body {
    font-family: 'roboto', 'open-sans', sans-serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'roboto' !important;
}
body {
    /* margin: 0; */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,16,17,1) 100%);

    color: var(--main-text-color);
    /* font-size: 120%; */
    /* font-family: 'roboto', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--main-text-accent);
    /* font-size: 120%; */
}

h2, h3 {
    color: white;
    margin: 0;
    padding: 0;
}

p, li {
    /* font-size: 120%; */
    font-family: 'roboto' !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--main-text-accent) !important;
}

ul {
    list-style-type: none;
}

/* offset anchor scroll location */
section:before {
    height: 45px;
    content: "";
    display:block;
}

/* Nav */

nav {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,16,17,1) 100%);
}

.navbar-custom .navbar-brand {
    color: var(--main-text-accent);
}

.navbar-custom .navbar-nav a {
    color: white !important;
}

.navbar-custom .navbar-nav a:hover {
    color: var(--main-text-accent) !important;
}

.download-resume {
    flex-shrink: 0;
}


/* Everything else */

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    grid-gap: 20px;
}

.grid-item {
    padding: 2% 2%;

} */

/* About */

.img-max {
    max-width: 400px;
    width: 100%;
}

/* .item-1 {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 20px;
}

.photo {
    background-size: contain;
    grid-column: 1 / 4;
}

.bio {
    grid-column: 4 / 12;
}

.internal-item img{
    max-height: 400px;
    max-width: 100%;
    border: 3px solid white;
}

.bio h5 {
    margin: 0;
    padding: 0;
} */

/* Skills + CV */

/* .bio, .body-text {
    width: 90%;
}

.internal-text {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 9fr;
    grid-gap: 0 20px;
}

.title-text {
    display: flexbox;
    text-align: right;
}

.body-text {
    display: flexbox;
    text-align: left;
}

.title-text h5 {
    margin: 0;
    padding: 0;
}

.body-text b {
    color: var(--main-text-bold); 
}

.body-text ul {
    display: inline-block;
}

.body-text li {
    color: var(--main-text-color);
} */

/* remove bullet point whitespaces */
.body-text ul, li {
    padding: 0;
}

/* Socials */

.icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    margin: 0 15%;
}

.icon {
    justify-content: center;
    align-items: right;
}

.icon img {
    width: 100px;
    display: block;
    margin: auto;
}

/* Footer */

footer {
    text-align: center;
}