/* Colors + Fonts */
:root {
    --main-text-color: #999999;
    --main-text-bold: #CCCCCC;
    --main-text-accent: #F9C80E;
}

body {
    margin: 0;
    font-family: 'open-sans', sans-serif;
    /* background-color: #fdf800; */
    /* color: blue; */
    /* background-color: #222629; */
    /* background-color: #242624; */

    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,13,14,1) 100%); */

    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%); */

    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(18,19,19,1) 100%); */

    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,16,17,1) 100%);

    /* background: rgb(114,61,140);
    background: radial-gradient(circle, rgba(114,61,140,1) 0%, rgba(2,0,36,1) 100%); */

    /* background: #424B54; */

    /* color: #6B6E70; */

    color: var(--main-text-color);
    font-size: 120%;
    font-family: 'roboto', sans-serif;
}

h1 {
    /* color: #61892F; */
    /* color: yellow; */
    color: var(--main-text-accent);
    font-size: 120%;
}

h2, h3 {
    color: white;
    margin: 0;
    padding: 0;
}

/* p {
    font-family: 'roboto', sans-serif;
} */

a {
    text-decoration: none;
    color: white;
}

/* Document rules */

ul {
    display: flex;
    justify-content: space-between;
    width: 80%
    /* padding: 0 10%; */
}

ul li {
    /* justify-content: center; */
    display:inline-block;
    list-style-type: none;
}

a:hover {
    color: var(--main-text-accent);
}

/* Nav */
nav {
    /* margin: 1% 1%; */
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    /* justify-content: center;
    align-content: center;
    text-align: center;
    text-justify: center; */

    /* Allow the navbar to move with the page */
    border-bottom: 1px solid white; 
    /* background: #04001A; */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(16,16,17,1) 100%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.home {
    text-align: right;
}

.cv {
    text-align: right;
}

#cv_border {
    display: inline-block;
    border-style: solid;
    border-color: white;
    padding: 8px
}

/* Everything else */

.grid-container {
    padding: 90px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: start;
    grid-gap: 20px;
}

.grid-item {
    padding: 2% 2%;

}

/* About */

.item-1 {
    display: grid;
    /* grid-template-rows: 200px; */
    justify-items: center;
    align-items: center;
    /* place-self: center center; */
    justify-content: space-evenly;
    grid-gap: 20px;
}

.photo {
    background-size: contain;
    grid-column: 1 / 4;
}

.bio {
    grid-column: 4 / 12;
}

.internal-item img{
    max-height: 400px;
    max-width: 100%;
    border: 5px solid #6B6E70;
}

/* Skills + CV */

.bio, .body-text {
    width: 90%;
}

.internal-text {
    display: grid;
    /* justify-items: center; */
    align-items: center;
    grid-template-columns: 3fr 9fr;
    grid-gap: 0 20px;
}

.title-text {
    display: flexbox;
    text-align: right;
    /* text-justify: center;
    align-items: center; */
}

.body-text {
    display: flexbox;
    text-align: left;
    /* text-justify: top;
    vertical-align: top; */
}

.title-text h5 {
    margin: 0;
    padding: 0;
}

.body-text b {
    color: var(--main-text-bold); 
}

.body-text ul {
    display: inline-block;
    /* float: left; */
}

.body-text li {
    color: var(--main-text-color);
    /* display: list-item; */
    /* list-style-type: disc; */
}

/* remove bullet point whitespaces */
.body-text ul, li {
    padding: 0;
}

/* Socials */

.icons {
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    margin: 0 15%;
}

.icon {
    justify-content: center;
    align-items: right;
}

.icon img {
    /* max-width: 50%; */
    /* max-height: 100%; */
    width: 100px;
    /* height: 100px; */
    display: block;
    margin: auto;
}

/* .icon {
    background-size: contain;
    width: 200px;

} */

/* .icon a img {
    max-height: 200px;
    max-width: 100%;
} */


/* Footer */

footer {
    text-align: center;
}